[submodule "arduino"]
	path = arduino
	url = git@github.com:Plantsio/arduino-esp32.git
	branch = ivy2.0
[submodule "libs/Audio"]
	path = libs/Audio
	url = git@github.com:Plantsio/ESP32-audioI2S.git
[submodule "libs/lvgl"]
	path = libs/lvgl
	url = git@github.com:lvgl/lvgl.git
