source "/mnt/e/HWS/TuyaOS/esp-idf/components/app_update/Kconfig.projbuild"
source "/mnt/e/HWS/TuyaOS/esp-idf/components/bootloader/Kconfig.projbuild"
source "/mnt/e/HWS/TuyaOS/esp-idf/components/esp_rom/Kconfig.projbuild"
source "/mnt/e/HWS/TuyaOS/esp-idf/components/esptool_py/Kconfig.projbuild"
source "/mnt/e/HWS/TuyaOS/esp-idf/components/partition_table/Kconfig.projbuild"
source "/mnt/e/HWS/TuyaOS/arduino/Kconfig.projbuild"